extends ../layouts/defualt

block title
	title 修改模板 - #{pkg.name}

block content
	.row
		.col-md-6.col-md-offset-3
			.well.well-sm
				#fieldtemplate.form-group.hidden.btn-toolbar
					label.col-md-2.control-label(for='fields[][name]') 字段名称
					.col-md-4
						input.form-control(name='fields[][name]', type='text', placeholder='字段名称')
					label.col-md-1.control-label(for='fields[][type]') 类型
					.col-md-2
						input.selecttype.form-control(name='fields[][type]', placeholder='请选择......', data-options=types, data-config=config)
					button.removefield.btn.btn-labeled.btn-danger(type='button')
						span.btn-label
							i.glyphicon.glyphicon-minus
					button.addfield.btn.btn-labeled.btn-success(type='button')
						span.btn-label
							i.glyphicon.glyphicon-plus
				form#form.form-horizontal(action='/schema/' + _id, method='post')
					fieldset
						legend.text-center 修改模板
						input.hidden(name='_csrf' value=csrf_token)
						input.hidden(name='_method' value='put')
						.form-group
							label.col-md-2.control-label(for='name') 名称
							.col-md-9
								input#name.form-control(name='name', value=name, type='text', placeholder='模板名称')
						.form-group
							label.col-md-2.control-label(for='description') 描述
							.col-md-9
								textarea#description.form-control(name='description', placeholder='请输入模板的描述......', rows='5')= description
						#fields
							each field in fields
								.form-group.btn-toolbar
									label.col-md-2.control-label(for='fields[][name]') 字段名称
									.col-md-4
										input.form-control(name='fields[][name]', value=field.name, type='text', placeholder='字段名称')
									label.col-md-1.control-label(for='fields[][type]') 类型
									.col-md-2
										input.selecttype.form-control(name='fields[][type]', value=field.type, placeholder='请选择......', data-options=types, data-config=config)
									button.removefield.btn.btn-labeled.btn-danger(type='button')
										span.btn-label
											i.glyphicon.glyphicon-minus
									button.addfield.btn.btn-labeled.btn-success(type='button')
										span.btn-label
											i.glyphicon.glyphicon-plus

							.form-group
								button.addfield.btn.btn-labeled.btn-success.btn-block(type='button')
									span.btn-label
										i.glyphicon.glyphicon-plus
									| 点击添加字段
						.form-group
							.col-md-12.text-right.btn-toolbar
								button#cancel.btn.btn-default(type='button') 取消
								button.btn.btn-primary.btn-lg(type='submit') 保存

block foot-script
	script.
		require(['jquery', 'selectize'], function ($) {
			$(function () {
				$('#cancel').click(function () {
					if (history.length) {
						history.back();
					} else {
						window.close();
					}
				});
				$('#form').submit(function () {
					$(this).find('[name="fields[][name]"]').each(function (i) {
						$(this).attr('name', 'fields[' + i + '][name]');
					});
					$(this).find('[name="fields[][type]"]').each(function (i) {
						$(this).attr('name', 'fields[' + i + '][type]');
					});
				});

				$('#fields').on('click', '.removefield', function () {
					$(this).parents('.form-group').remove();
				});
				$('#fields').on('click', '.addfield', function () {
					$('#fieldtemplate')
									.clone()
									.removeAttr('id')
									.insertBefore($(this).parents('.form-group').first())
									.removeClass('hidden')
									.find('.selecttype')
									.first()
									.removeClass('selecttype')
									.selectize({
										maxItems: 1,
										valueField: 'name',
										labelField: 'name',
										earchField: ['name'],
										options: [
											{name: 'String'},
											{name: 'Number'},
											{name: 'Date'},
											{name: 'Buffer'},
											{name: 'Boolean'},
											{name: 'Mixed'},
											{name: 'Objectid'},
											{name: 'Array'}
										],
										create: false
									});
				});
			});
		});

