extends ../layouts/defualt

block title
   title 装机任务 - #{pkg.name}

block content
   div.row.col-md-6.col-md-offset-2.custyle
      table.table.table-striped.custab
         thead
            a.btn.btn-primary.btn-xs.pull-right(href='/machine/installation/task/new')
               b +添加
            tr
               th 关联单号
               th 状态
               th 创建者
               th 开始日期
               th 结束日期
               th 地址
               th.text-center 操作
         tbody
            each installation in installations
              tr
                 td #{installation.No}
                 td #{installation.state}
                 td #{installation.creator ? installation.creator.name : ''}
                 td #{installation.task.from}
                 td #{installation.task.to}
                 td #{installation.customerAddress}
                 td.text-center.btn-toolbar
                    a.btn.btn-info.btn-xs(href='/installation/edit/' + installation._id)
                       span.glyphicon.glyphicon-edit
                       | 修改
                    a.btn.btn-danger.btn-xs(data-id=installation._id.toString())
                       span.glyphicon.glyphicon-remove
                       | 删除

block foot-script
   script.
      require(['jquery'], function ($) {
         $(function () {
            $('a[data-id]').click(function () {
               var $self = $(this);
               $.ajax({
                  type: 'DELETE',
                  url: '/installation/' + $self.data('id')
               }).done(function () {
                  var $tr = $self.parents('tr')[0];
                  $tr.remove();
               }).fail(function (jqxhr) {
                  console.log(jqxhr.status);
                  console.log(jqxhr.responseJSON);
               });
            });
         });
      });

